<!DOCTYPE HTML> 
<html> 
<head> 
<title>Sign-In</title> 
</head> 
<center>
<body id="body-color"> 
<div id="Sign-In"> 
<fieldset style="width:30%">
<legend>
Enter Details
</legend> 
<form method="POST" action="#"> 
Name <br><input type="text" name="name" size="40"><br> 
Password<br><input type="password" name="password" size="40"><br>
Email<br><input type="text" name="email" size="40">
Number <br><input type="number" name="mobile" size="40"><br> 
Gender<br><input type="radio" name="gender" value="male">Male<br>
<br><input type="radio" name="gender" value="female"><br>
City:
<select>
  <option value="Raipur">Raipur</option>
  <option value="Pune">Pune</option>
  <option value="Bhilai">Bhilai</option>
  <option value="Durg">Durg</option>
</select>
<br>
<input id="button" type="submit" name="submit" value="Log-In"> 

</form> 
</fieldset> 
</div> 
</body> 
</center>
</html>